*.exe
Sem-5/.idea
Sem-5/README.md
Sem-5/venv
Sem-5/.vscode

SY-Sem3-FDS/SemPractice.cpp
SY-Sem3-FDS/Practice.py
SY-Sem3-FDS/Practice.java
SY-Sem3-FDS/Practice.c
SY-Sem3-FDS/README.md
SY-Sem3-FDS/.vscode

SY-Sem4-ADS/.vscode
SY-Sem4-ADS/README.md
SY-Sem4-ADS/Practice.py
SY-Sem4-ADS/Practice.java
SY-Sem4-ADS/Practice.cpp

SY-Sem4-IT/.idea
SY-Sem4-IT/README.md
SY-Sem4-IT/.ipynb_checkpoints
SY-Sem4-IT/venv
